[submodule "third_party/sentencepiece"]
	path = third_party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "third_party/Eigen"]
	path = third_party/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third_party/rapidcsv"]
	path = third_party/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "intellij-idea-extension"]
	path = intellij-idea-extension
	url = https://github.com/vishalkrishnaag/intellij-idea-extension.git
[submodule "vs-code-extension"]
	path = vs-code-extension
	url = https://github.com/vishalkrishnaag/vs-code-extension.git
[submodule "emacs-extension"]
	path = emacs-extension
	url = https://github.com/vishalkrishnaag/emacs-extension.git
[submodule "nano-extension"]
	path = nano-extension
	url = https://github.com/vishalkrishnaag/nano-extension.git
[submodule "sublime-text-extension"]
	path = sublime-text-extension
	url = https://github.com/vishalkrishnaag/sublime-text-extension.git
[submodule "vim-extension"]
	path = vim-extension
	url = https://github.com/vishalkrishnaag/vim-extension.git
